
*{
	
	/*background:deepskyblue;*/
	width:auto;
}
header{
	display: flex;
	align-self: center;
	justify-content: center;
	font-size:30px;
}
body{
	background:#E8EDB9;
}

.group1{
	background-color:mintcream 	;
	border: 1px black solid;
	padding:10px;
	background-color: #C0D09D;
}

.form{
   margin-top:20px;
	height:auto;
	border:1px black solid;
	padding:20px;
	background-color: C0D09D;
	font-size:20px;
		display:flex;
	flex-direction: column;
width:600px;
height:auto;
}



#Name ,#Email,  #message{
border:none;
padding:15px;
}

label{
	padding:12px;
}


button{
	padding:20px;
	margin-top:5px;
	width:100px;
	height:20px;
align-self: center;
}

footer{
	margin-top:100px;
}

.insideForm{
	width:60px;
	height:40px;
}

img{
	width:100px;
	height:100px;
}

.group0{
	display:flex;
flex-direction: column;
padding:20px;
}

.group1{
		display:flex;
flex-direction: column;

}
.group2{
		display:flex;
flex-direction: column;

}


.projects{
	border:1px black solid;
	padding:20px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	border-radius: 10px;
}

button{
	background-color: #A9BE7B;
}
