
*{
	
	/*background:deepskyblue;*/
	width:auto;
}
header{
	display: flex;
	align-self: center;
	justify-content: center;
}
body{
	background:#FDDFDF;
}
.group1{
	background-color:mintcream 	;
	border: 1px black solid;
	padding:10px;
	background-color: #DEFDE0;
}

form{
margin-top:100px;
	height:auto;
	border:2px black solid;
	padding:20px;
	background-color: lightblue;
	font-size:20px;
}



#Name ,#Email,  #message{
border:none;
padding:15px;
}

label{
	padding:12px;
}

form{
	display:flex;
	flex-direction: column;
background-color: skyblue;
width:600px;
height:auto;
}

button{
	padding:20px;
	margin-top:5px;
	width:100px;
	height:20px;
align-self: center;
}

footer{
	margin-top:100px;
}

.insideForm{
	width:60px;
	height:40px;
}

img{
	width:100px;
	height:100px;
}

.group0{
	display:flex;
flex-direction: column;
padding:20px;
}

.group1{
		display:flex;
flex-direction: column;

}
.group2{
		display:flex;
flex-direction: column;

}

.contact{
	margin:20px;
}